
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewData["DataMsg"]   &nbsp;&nbsp;&nbsp;
        @ViewBag.DataMsg
        <hr/>
        @ViewData["BagMsg"]   &nbsp;&nbsp;&nbsp;
        @ViewBag.BagMsg
    </div>
</body>
</html>
