<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Setting1" value="May 5,2018"/>
		<add key="Setting2" value="May 5,2017"/>
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="Server=127.0.0.1; Database=CityManage; Trusted_Connection=False; Uid=root; pwd=zxx123456;" providerName="System.Data.SqlClient" />
		<add name="Abp.Redis.Cache" connectionString="localhost" />
	</connectionStrings>
</configuration>